{% extends 'base.html' %}{% load bootstrap4 %}
<!--  -->

{% block content %}
<!--  -->
{% include 'snippets/sub_banner.html' with img_source="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSUBBANNER%2FSUB_BANNER_%E1%84%80%E1%85%A9%E1%84%80%E1%85%A2%E1%86%A8%E1%84%8C%E1%85%B5%E1%84%8B%E1%85%AF%E1%86%AB.png?alt=media&token=1a58f20a-b898-455f-909e-d8c1ae744f2b" menu="고객지원" title="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FICON%2F11-Call-center.png?alt=media&token=6f7c9b0e-7c5f-4052-bc0f-e52c332887db" content="고객지원" %}

<div class="container mt-5 text-center notice">
  <h3 class="notice_title">공지사항</h3>
  <article class="notice_desc">
    <span>모두박스</span>의 새로운 소식을 확인해보세요.
  </article>

  <section class="notice_search mt-5">
    <form action="{% url 'boardapp:notice_list' %}" , method="GET" class="row justify-content-between ml-0">
      <div class="notice_search_inp">
        <input type="text" name="search" placeholder="검색어를 입력해주세요." />

        
          <!-- <input type="submit" value="검색" /> -->
      </div>
    </form>
  </section>

  <section class="notice_table">
    <table class="table table-sm">
      <thead>
        <tr>
          <th class="col-md-1" scope="col">번호</th>
          <th class="col-md-7 text-left pl-4" scope="col">제목</th>
          <th scope="col">이름</th>
          <th scope="col">작성일</th>
          <th scope="col">조회수</th>
        </tr>
      </thead>
      <tbody action="#" method="GET">
        {% for notice in notice_list %}
        <tr>
          <th scope="row">{{notice.pk}}</th>
          <td class="text-left pl-4">
            <a href="{% url 'boardapp:notice_detail' pk=notice.pk%}">
              {{notice.title}}
            </a>
          </td>
          <td>{{notice.author.username}}</td>
          <td>{{notice.created|date:'Y-m-d'}}</td>
          <td>{{notice.hit}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section class="mobile_notice_table">
    {% for notice in notice_list %}
    <table class="mobile_table">
      <thead>
        <tr class="mobile_title">
          <th>{{notice.title}}</th>
        </tr>
        <tr class="mobile_list">
          <th><span class="material-icons">person_outline</span>{{notice.author.username}}</th>
          <th><span class="material-icons">domain_verification</span>{{notice.created|date:'Y-m-d'}}</th>
          <th><span class="material-icons">visibility</span>{{notice.hit}}</th>
        </tr>
      </thead>
    </table>
    {% endfor %}
  </section>
</div>

{% include 'snippets/pagination.html' with page_obj=page_obj %}
<!--  -->
{% endblock content %}
