{% extends 'base.html' %} {% load bootstrap4 %}
<!--  -->

{% block content %} 
{% include 'snippets/sub_banner.html' with img_source="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSUBBANNER%2FSUB_BANNER_%E1%84%85%E1%85%A9%E1%84%80%E1%85%B3%E1%84%8B%E1%85%B5%E1%86%AB.png?alt=media&token=a4a0e055-53b7-44a0-a266-f549a1827e84" %}

<section class="container find">
  <div class="find_title_">
    <h2>아이디/비밀번호 찾기</h2>
    <span class="user_create_subtitle"
      ><span class="user_create_subtitle_y">모두박스</span>를 이용하기 위해서
      회원가입을 해보새요.</span
    >
  </div>

  <form action="{% url 'userapp:join' %}" method="POST">
    {% csrf_token %}

    <input type="submit" value="회원가입" class="user_create_button" />
  </form>
</section>

{% endblock content %}
