{% extends 'base.html' %} {% load bootstrap4 %}
<!--  -->

{% block content %} 
{% include 'snippets/sub_banner.html' with img_source="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSUBBANNER%2FSUB_BANNER_%E1%84%85%E1%85%A9%E1%84%80%E1%85%B3%E1%84%8B%E1%85%B5%E1%86%AB.png?alt=media&token=a4a0e055-53b7-44a0-a266-f549a1827e84" title="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FICON%2F1.png?alt=media&token=1da11739-14f7-4800-bd63-818fa58395ff" content="비밀번호 찾기"%}

<section class="container text-center find">
  <!-- <h3 class="find_title">비밀번호 찾기</h3> -->
  <article class="find_desc">
    <span>모두박스</span> 회원님의 아이디/비밀번호를 찾아보세요.
  </article>

  <div class="find_pw_certification">
    <div class="find_subTitle">비밀번호 변경</div>

    <form action="" method="POST">
      <input
        type="password"
        name="password1"
        autofocus
        autocapitalize="none"
        maxlength="6"
        class="form-control inp_password1"
        placeholder="비밀번호"
        title=""
        required
        id="id_password1"
      />

      <input
        type="password"
        name="password2"
        autofocus
        autocapitalize="none"
        maxlength="6"
        class="form-control inp_password2"
        placeholder="비밀번호 확인"
        title=""
        required
        id="id_password2"
      />

      <span class="inp_text">변경할 비밀번호를 입력해주세요.</span>
    </form>

    <div class="find_button_group">
      <input type="button" value="확인하기" class="find_button" />
    </div>
  </div>
</section>

{% endblock content %}
