{% extends 'base.html' %}
{% load bootstrap4 %}
<!--  -->

{% block content %} 
{% include 'snippets/sub_banner.html' with img_source="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSUBBANNER%2FSUB_BANNER_%E1%84%85%E1%85%A9%E1%84%80%E1%85%B3%E1%84%8B%E1%85%B5%E1%86%AB.png?alt=media&token=a4a0e055-53b7-44a0-a266-f549a1827e84" %}

<section class="container">


  
  <div class="user_create_box">
    <div class="user_create_title_wrapper">
      <h2>내정보수정</h2>
      <span class="user_create_subtitle"><span class="user_create_subtitle_y">모두박스</span> 회원님의 정보를 확인하세요.</span>
    </div>
  
  <form action="{% url 'userapp:mypage' pk=user.pk %}" method="POST">
    {% csrf_token %}

    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!-- stop -->
    <input type="text" name="password1" value="{{ user.password }}">
    <input type="text" name="password2" value="{{ user.password }}" >

    <div class="form-group create_user_form_group1">
      <div class="create_user_label_input_wrapper1">
      <label for="id_username" >아이디<span class="star">*</span></label
      >
      <div class="create_user_input_desc_wrapper">
      <input
        type="text"
        name="username"
        maxlength="15"
        autofocus
        class="form-control"
        placeholder="아이디"
        title="15자 이하 문자, 숫자 그리고 @/./+/-/_만 가능합니다."
        required
        id="id_username"
        readonly
        value="{{ user.username }}"
      />
      <small class="form-text text-muted user_create_input_desc">
        15자 이하 문자, 숫자 그리고 @/./+/-/_만 가능합니다.
      </small>
    </div>
    </div>
    </div>

    <div class="form-group create_user_form_group2">
      <div class="create_user_label_input_wrapper2">
      <label for="id_name">이름<span class="star">*</span></label
      ><input
        type="text"
        name="name"
        maxlength="12"
        class="form-control"
        placeholder="이름을 입력해주세요."
        title=""
        required
        value="{{user.name}}"
        id="id_name"
      />
    </div>
    </div>
 
    <div class="form-group create_user_form_group5">
      <div class="create_user_label_input_wrapper5">
      <label for="id_email" >이메일 주소<span class="star">*</span></label
      ><input
        type="email"
        name="email"
        maxlength="254"
        class="form-control"
        placeholder="이메일 주소"
        title=""
        value="{{ user.email }}"
        id="id_email"
      />
      </div>
    </div>

    <input type="submit" value="정보수정" class="user_create_button" />
  </form>
</div>
</section>

{% endblock content %}
