{% extends 'base.html' %} {% load bootstrap4 %}
<!--  -->

{% block content %}
<!--  -->
{% include 'snippets/sub_banner.html' with img_source="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSUBBANNER%2FSUB_BANNER_%E1%84%8C%E1%85%A6%E1%84%8C%E1%85%A1%E1%86%A8.png?alt=media&token=041933f1-8b06-421f-9157-2ec26c1f309f" menu="제작안내" title="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FICON%2Fart-tools.png?alt=media&token=aaf9ff26-4dec-4c8c-be3d-5f969b7f89ee" content="제작 & 디자인" %}

<section class="container text-center mt-5">
  <div class="design_desc">
    <div>
      신속 정확한 업무처리를 위해 <span>분업화된 제조공정</span>을 갖추고
      제작물의 특성을 고려하여 기획, 디자인하며
    </div>
    <div>
      제작물에 가장 적합한 인쇄방식과 후가공을 선택하여
      <span>합리적인 가격과 최상의 퀄리티</span>로 제작될 수 있도록
    </div>
    <div>모든 과정을 체크하고 관리합니다.</div>
  </div>
  <div class="design_box">
    <div class="mb-2 design_box_1">
        <span>자체 생신 설비</span>로 제작원가와 제작기간을 단축합니다 !
    </div>
    <div class="design_box_2">
      <div>
          <img src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSCREEN%2Faa.png?alt=media&token=1d41d493-a503-499b-b525-f04db8846cc8" alt="image" />
      </div>
      <div class="design_box_2_right">
        <article class="design_box_2_right_txt">Package, Shopping bag, Hang Tag 등을 제작하는 과정에는 단순 인쇄부터</article>
        <article class="design_box_2_right_txt">여러 과정의 후가공 (코팅, 금 은박, 형압, 타공, 도무송, 접착)이 필요합니다.</article>
        <article class="design_box_2_right_txt">이 모든 프로세스를 처리하기 위해 모든 설비를 갖춘 곳은 드뭅니다.</article>
        <p></p>
        <article class="design_box_2_right_txt">모두박스는 여러 프로세스 중 <strong>"한 공정을 직접 운영"</strong> 함으로서 </article>
        <article class="design_box_2_right_txt">원가절감과 제작기간 단축을 위해 노력하고 있습니다.</article>
        <p></p>
        <article class="design_box_2_right_txt">제작방식이나 원단의 사양에 따라 인쇄 방법과 후가공이 달라지므로</article>
        <article class="design_box_2_right_txt">적합한 가공을 선택하여 제작물의 효과를 극대화하는 것이 중요합니다.</article>
        <article class="design_box_2_right_txt">종이외 PP, 스폰지 등 원단에 적합한 인쇄방식과 가공 방법을 선택하여</article>
        <article class="design_box_2_right_txt">합리적인 가격과 최상의 제작물이 나올 수 있도록 책임 관리합니다.</article>

      </div>
    </div>
    <div class="mb-2 design_box_3">
      <div>
          <img src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSCREEN%2Fv1.png?alt=media&token=5a80879d-5f6c-4ad1-8689-f2a2905a10e4" alt="product" />
      </div>
      <div>
          <img src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSCREEN%2Fv2.png?alt=media&token=9186d98d-dd95-4a0f-8225-4a0377c10f17" alt="product" />
      </div>
      <div>
          <img src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSCREEN%2Fv3.png?alt=media&token=6a77b0e6-90ff-4b77-93f3-896b605fbc59" alt="product" />
      </div>
    </div>
    <div class="mb-2 design_box_4">
        <article>모두박스는 상업 인쇄물 제작에 오랜 <strong> "경험과 노하우" </strong>를 가지고,</article>
        <article>고객이 만족할 수 있는 <strong> "품질의 결과물" </strong>을 만들기 위해 최선을 다 합니다.</article>
    </div>
  </div>



  <div class="design_box">
    <div class="mb-2 design_box_1">
        <span>담당 전문디자이너</span>가 기획부터 제작까지 총괄합니다 !
    </div>
    <div class="design_box_2">
      <div>
          <img src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSCREEN%2Fz1.png?alt=media&token=4599f256-39ec-410c-9730-c7ba2b337178" alt="image" />
      </div>
      <div class="design_box_2_right">
        <article class="design_box_2_right_txt">모두박스는 제작물의 인쇄방식, 재질, 후가공, 지기구조 등을 디자이너가 </article>
        <article class="design_box_2_right_txt">기획 단계에서 부터 참여 하여 가장 합리적 가격과 고퀄리티의 결과물이</article>
        <article class="design_box_2_right_txt">나올수 있도록 최선을 다합니다.</article>
        <p></p>
        <article class="design_box_2_right_txt">단순 제작만을 위한 프로세스가 아닌 <strong>"디자인부터 제작까지 총괄"</strong> 함으로서 </article>
        <article class="design_box_2_right_txt">상호소통의 오류를 최소화 하며 제작물의 완성까지 관리합니다.</article>
        <p></p>
        <article class="design_box_2_right_txt">또한 인쇄 및 후가공 협력업체와 긴밀한 소통으로 리스크를 최소화하고 </article>
        <article class="design_box_2_right_txt">전문디자이너가 제작 관련 데이터를 체계적으로 보관, 관리하여</article>
        <article class="design_box_2_right_txt">향후에도 꾸준한 제작과 관리가 가능합니다.</article>

      </div>
    </div>
    <div class="mb-2 design_box_3">
      <div>
          <img src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSCREEN%2Fz2.png?alt=media&token=1fe69bfb-362d-409c-88e2-651b79604fa1" alt="product" />
      </div>
      <div>
          <img src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSCREEN%2Fz3.png?alt=media&token=f6c2c283-a0ad-4f23-9679-e81405832703" alt="product" />
      </div>
      <div>
          <img src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSCREEN%2Fz4.png?alt=media&token=7ee8102d-6cbf-4b67-aa47-a5e00c17e8ed" alt="product" />
      </div>
    </div>
    <div class="mb-2 design_box_4">
        <article><strong>"고객맞춤형 디자인" </strong>으로 제작되는 포장재는 완성도를 높히며,</article>
        <article>전문 디자이너와의 소통을 통해 <strong>"제작 기간을 단축"</strong>시켜 줍니다.</article>
    </div>
  </div>
  
</section>

{% endblock content %}
