{% extends 'base.html' %} {% load bootstrap4 %}
<!--  -->

{% block content %}
<!--  -->
{% include 'snippets/sub_banner.html' with img_source="https://i.pinimg.com/originals/60/a5/14/60a5141b683add6729fa6eaae3477b21.jpg" menu="제작안내" %}

<section class="container text-center mt-5">
  <div class="design_desc">
    <div>
      신속 정확한 업무처리를 위해 <span>분업화된 제조공정</span>을 갖추고
      제작물의 특성을 고려하여 기획, 디자인하며
    </div>
    <div>
      제작물에 가장 적합한 인쇄방식과 후가공을 선택하여
      <span>합리적인 가격과 최상의 퀄리티</span>로 제작될 수 있도록
    </div>
    <div>모든 과정을 체크하고 관리합니다.</div>
  </div>
  <div class="design_box mb-5">
    <div class="mb-2 design_box_1">
        <span>자체 생신 설비</span>로 제작원가와 제작기간을 단축합니다 !
    </div>
    <div class="design_box_2">
      <div>IMAGE</div>
      <div class="design_box_2_right">
         
      </div>
    </div>
    <div class="mb-2 design_box_3">
      <div>IMAGE</div>
      <div>IMAGE</div>
      <div>IMAGE</div>
    </div>
    <div class="mb-2 design_box_4">머라구 머라구 테스트 텍스트</div>
  </div>
  <div class="design_box mb-5">3</div>
</section>

{% endblock content %}
