{% extends 'base.html' %} {% load bootstrap4 %}
<!--  -->

{% block content %}
<!--  -->
{% include 'snippets/sub_banner.html' with img_source="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSUBBANNER%2FSUB_BANNER_%E1%84%8C%E1%85%A6%E1%84%8C%E1%85%A1%E1%86%A8.png?alt=media&token=041933f1-8b06-421f-9157-2ec26c1f309f" title="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FICON%2Fgallery.png?alt=media&token=3ebd65b8-ca63-4ead-b626-8957f9ae91d9" content="갤러리" %}

<section class="container gallary">
  <img src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FICON%2Fgallary_image.png?alt=media&token=5bc5d040-3026-4ed3-af77-837daa1fcfaa" alt="image"/>
  <div class="temp_text">
    페이지 준비 중입니다.
  </div>

  <div class="temp_text2">
    빠른 시간내에 컨텐츠를 준비하도록 하겠습니다.
  </div>
</section>

{% endblock content %}
