{% extends 'base.html' %}{% load bootstrap4 %}
<!--  -->

<!-- CONTENT START -->
{% block content %}
<!--  -->

<section class="home_mainBanner"></section>

<div class="container">
  <section class="home_section1">
    <div class="section1_imgBox">
      <img
        width="100%"
        src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSCREEN%2FAdobeStock_226081131.png?alt=media&token=499abef5-78ba-4860-9e1a-9b93adf79174"
      />
    </div>

    <div class="section1_txtBox1">
      <span>ABOUT</span>
      <span>ALL</span>
      <span>BOX</span>
      <span class="section1_title">-</span>
      <span class="section1_title txt">모두박스</span>

      <span class="section1_content">
        고객의 요구를 파악하여 최상의 패키지를 제작하는 전문업체 모두박스입니다.
      </span>
      <span class="section1_content">
        패키지를 통해 제품이 보다 가치 있을 수 있도록 패키지 기획부터 제작,
        납품에 이르기까지
      </span>
      <span class="section1_content">
        자부심을 가지고 고객과 구성원간의 소통, 신뢰, 협력을 중시하고 있습니다.
      </span>
    </div>
  </section>

  <section class="home_section2">
    <div class="section2_Box">
      <a href="{% url 'product:list' type=1 %}">
        <div class="section2_Box_Img">
          <img
            width="100%"
            src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSCREEN%2F4866247.png?alt=media&token=43750bca-98f4-482d-a46b-cf6bd9fcadf0"
          />
        </div>
      </a>

      <span class="section2_title">맞춤 박스</span>
      <div class="section2_bar"></div>
      <span>원하는 박스의 형태와 디자인으로</span>
      <span>제작할 수 있습니다.</span>
    </div>

    <div class="section2_Box">
      <a href="{% url 'product:list' type=2 %}">
        <div class="section2_Box_Img">
          <img
            width="100%"
            src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSCREEN%2F%E1%84%89%E1%85%AD%E1%84%91%E1%85%B5%E1%86%BC%E1%84%87%E1%85%A2%E1%86%A8.png?alt=media&token=b1789c7a-d38f-41ac-a0dd-b14a076303cf"
          />
        </div>
      </a>

      <span class="section2_title">쇼핑백</span>
      <div class="section2_bar"></div>
      <span>원하는 크기와 재질,</span>
      <span>쇼핑백 끈의 종류를 선택하여</span>
      <span>쇼핑백을 제작할 수 있습니다.</span>
    </div>

    <div class="section2_Box">
      <a href="{% url 'product:list' type=3 %}">
        <div class="section2_Box_Img">
          <img
            width="100%"
            src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSCREEN%2F%E1%84%92%E1%85%A2%E1%86%BC%E1%84%90%E1%85%A2%E1%86%A8.png?alt=media&token=1ca4c9c8-2829-436c-bff6-796e2f88f16e"
          />
        </div>
      </a>

      <span class="section2_title">행택</span>
      <div class="section2_bar"></div>
      <span>원하는 행택의 종류와</span>
      <span>디자인을 선택하여</span>
      <span>제작할 수 있습니다..</span>
    </div>
  </section>
</div>

<section class="home_section3">
  <div class="section3_Box">
    <img
      width="100%"
      src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSCREEN%2F%E1%84%91%E1%85%A2%E1%84%89%E1%85%B3%202.png?alt=media&token=ea3d92d4-edc3-47bd-bafe-e54fa63868fe"
    />

    <div class="section3_txtBox">
      <span class="section3_title">주문 및 제작과정</span>
      <span class="section3_content">
        주문부터 제작, 납품까지의 과정을 안내해드립니다.
      </span>

      <a href="{% url 'core:processing' %}">
        <button class="section3_btn">바로가기 &rarr;</button>
      </a>
    </div>
  </div>
</section>

<div class="container">
  <section class="home_section4">
    <div class="section4_Box1">
      <span class="section4_title">LOCATION</span>

      <div class="section4_txtBox1">
        <div class="section4_bar"></div>
        <span class="section4_subtitle">Address</span>
      </div>

      <div class="section4_content box">
        <span>서울시 중구 충무로 2길 20(149-1) 2층</span>
      </div>

      <div class="section4_txtBox2">
        <div class="section4_bar"></div>
        <span class="section4_subtitle">Tel</span>
      </div>

      <div class="section4_content box">
        <span>02. 2277. 275</span>
        <span>010. 8349. 0019</span>
        <span> 평일 AM 09:00 ~ PM 06:00</span>
        <span>토요일 AM 09:00 ~ PM 03:00</span>
        <span>
          ※ 일요일, 공휴일은 <span class="content_txt">휴무</span>입니다
        </span>
      </div>

      <div class="section4_txtBox3">
        <div class="section4_bar"></div>
        <span class="section4_subtitle">Fax</span>
      </div>

      <div class="section4_content">
        <span>02. 6229. 7678</span>
      </div>
    </div>

    <div class="section4_Box2">
      <img
        width="100%"
        src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSCREEN%2F%E1%84%8C%E1%85%B5%E1%84%83%E1%85%A9.png?alt=media&token=92123d08-c70b-4462-bcf4-d3495b708ee5"
        alt="지도"
      />
    </div>
  </section>
</div>
<!--  -->
{% endblock content %}
<!-- CONTENT END -->
