{% extends 'base.html' %} {% load bootstrap4 %}
<!--  -->

{% block content %}
<!--  -->
{% include 'snippets/sub_banner.html' with img_source="https://i.pinimg.com/originals/60/a5/14/60a5141b683add6729fa6eaae3477b21.jpg" menu="제작안내" %}


<section class="container">
    <div class="processing">
        <div class="processing_text">
            <span>모두박스</span>는  고객님께 주문부터 제작, 납품까지의 과정을 한눈에 알아보기 쉽게 안내해드리겠습니다.
        </div>
        <div class="processing_img">
            <img alt="image" src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FPROCESSING%2Fimage.png?alt=media&token=321646ac-0013-4f23-a944-f9793b0cea11"/>
        </div>
    </div>
</section>

{% endblock content %}
