{% extends 'base.html' %} {% load bootstrap4 %}
<!--  -->

{% block content %}
<!--  -->
{% include 'snippets/sub_banner.html' with img_source="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSUBBANNER%2FSUB_BANNER_%E1%84%8C%E1%85%A6%E1%84%8C%E1%85%A1%E1%86%A8.png?alt=media&token=041933f1-8b06-421f-9157-2ec26c1f309f" menu="제작안내" title="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FICON%2Fart-tools.png?alt=media&token=aaf9ff26-4dec-4c8c-be3d-5f969b7f89ee" content="제작 & 디자인" %}

<section class="container">
  <div class="processing">
    <div class="processing_text">
      <span>모두박스</span>는 고객님께 주문부터 제작, 납품까지의 과정을 한눈에
      알아보기 쉽게 안내해드리겠습니다.
    </div>
    <div class="processing_img">
      <img
        class="image"
        alt="image"
        src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FPROCESSING%2Fimage.png?alt=media&token=321646ac-0013-4f23-a944-f9793b0cea11"
      />
      <img
        class="mobile_img"
        alt="image"
        src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FPROCESSING%2Fmobile-img.png?alt=media&token=ffc86bc7-8e2f-4648-9095-cb4d1efa8ecb"
      />
    </div>
  </div>
</section>

{% endblock content %}
