
<div class="slick box">
    {% for image in product.images.all %}
        <div class="slick_img">
            <img width="100%" src={{image.image_url.url}} alt="aaa"/>
        </div>
        <div>
            <img width="100%" src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSCREEN%2F%E1%84%89%E1%85%A1%E1%84%8E%E1%85%AE%E1%86%AF%E1%84%81%E1%85%B3%E1%86%AB-1.png?alt=media&token=e5a9541c-8260-47bb-8ae3-37bcc470e78e" alt="aaa"/>
        </div>
        <div>
            <img width="100%" src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSCREEN%2F%E1%84%89%E1%85%A1%E1%84%8E%E1%85%AE%E1%86%AF%E1%84%81%E1%85%B3%E1%86%AB-1.png?alt=media&token=e5a9541c-8260-47bb-8ae3-37bcc470e78e" alt="aaa"/>
        </div>
      
    {% endfor %}
</div>


<script>
    $('.slick').slick({ 
      dots: false, //페이지 네비게이션 
      arrows: false, // next, prev 이동 버튼 
      autoplay: true, // 자동 넘김 여부 
      infinite: true, //반복설정 
      speed: 4000, //슬라이드 속도 
      autoplaySpeed : 1000, // 자동 넘김시 슬라이드 시간 
      pauseOnHover : true, // 마우스 hover시 슬라이드 멈춤 
      vertical : false, // 세로 방향 슬라이드 옵션 
      slidesToShow: 4, //보여질 슬라이드 수 
      slidesToScroll: 1, //넘겨질 슬라이드 수 
      responsive: [ // 반응형 웹 구현 옵션
					{  
						breakpoint: 960, //화면 사이즈 960px
						settings: {
							slidesToShow:3 
						} 
					},
					{ 
						breakpoint: 500, //화면 사이즈 768px
						settings: {	
							slidesToShow:3
						} 
					}
				]
    });
</script>