<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FMAINBANNER%2FMAIN_BANNER_01.png?alt=media&token=530cce66-12e9-4aed-8268-1582b991ff79" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FMAINBANNER%2FMAIN_BANNER_02.png?alt=media&token=09139a15-2498-4822-a7ca-0e6c4d92663c" alt="Second slide">
      </div>
    </div>

    <div class="carousel-inner mobile">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FMAINBANNER%2FMOBILE_MAIN_BANNER_01.png?alt=media&token=4dbf651d-cd9e-419b-b7ff-ab4ee9341fea" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FMAINBANNER%2FMOBILE_MAIN_BANNER_02.png?alt=media&token=a1212081-0589-4696-b029-3d65aad788b2" alt="Second slide">
      </div>
    </div>
</div>