<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 footer_info">
        <h4>COMPANY INFO</h4>

        
        {% if footer %}
        {% for footer in footer_list %}
        <div class="footer_info_text">
          <span>{{footer.title}} : </span>
          <span>{{footer.content}}</span>
        </div>
        {% endfor %}

        {% else %}
        <div class="footer_info_text">
          <span>상호 : </span>
          <span>MODUBOX</span>
        </div>
        <div class="footer_info_text">
          <span>주소 : </span>
          <span>서울시 중구 충무로 2길 20(149-1) 2층</span>
        </div>
        <div class="footer_info_text">
          <span>대표전화/팩스 : </span>
          <span>02-2277-7275 / 02-6229-7678</span>
        </div>
        <div class="footer_info_text">
          <span>사업자등록번호 : </span>
          <span>695-18-00424</span>
        </div>
        <div class="footer_info_text">
          <span>이메일 : </span>
          <span>yunha6194@naver.com</span>
        </div>

        {% endif %}
          

      
      </div>
      <div class="col-xs-12 col-sm-4 footer_info">
        <h4>BANK INFO</h4>

        <img
          width="200px"
          src="https://blog.kakaocdn.net/dn/qAwyo/btqyWLbmOAD/9eqyPAko6fuK9ycDeAcYrk/img.jpg"
          alt="bank_logo"
        />
        <div>1002-982-010204</div>
        <div>예금주 : 이윤하(모두박스)</div>
      </div>
      <div class="col-xs-12 col-sm-4 footer_info">
        <a class="header_logo" href="{% url 'core:home' %}">
          {% if logo_list %}
          {% for logo in logo_list %}
          <!--  -->
          {% if logo.title == "Footer LOGO - [PC VERSION]" %}
          <img width="120px" src="{{logo.logo_file.url}}" alt="{{logo.title}}" />
          {% endif %}
          <!--  -->

          {% endfor %}

          {% else %}
          <img width="120px" src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FLOGO%2Fmodu_logo_w.png?alt=media&token=e22b6cb1-4e52-4710-ba61-6fd6813b5a7e" alt="logo" />
          {% endif %}
        </a>
      </div>
    </div>
  </div>
</footer>

<div></div>
