<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 footer_info">
        <h4>COMPANY INFO</h4>

        
        {% if footer %}
        {% for footer in footer_list %}
        <div class="footer_info_text">
          <span>{{footer.title}} : </span>
          <span>{{footer.content}}</span>
        </div>
        {% endfor %}

        {% else %}
        <div class="footer_info_text">
          <span>상호 : </span>
          <span>MODUBOX</span>
        </div>
        <div class="footer_info_text">
          <span>주소 : </span>
          <span>서울시 중구 충무로 2길 20(149-1) 2층</span>
        </div>
        <div class="footer_info_text">
          <span>대표전화/팩스 : </span>
          <span>02-2277-7275 / 02-6229-7678</span>
        </div>
        <div class="footer_info_text">
          <span>사업자등록번호 : </span>
          <span>695-18-00424</span>
        </div>
        <div class="footer_info_text">
          <span>이메일 : </span>
          <span>yunha6194@naver.com</span>
        </div>

        {% endif %}
          

      
      </div>
      <div class="col-xs-12 col-sm-4 footer_info">
        <h4>BANK INFO</h4>

        <img
          class="footer_info_logo"
          src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FLOGO%2Fbanklogo.png?alt=media&token=8e0d7b1a-ec88-42ef-bcfa-89a43b4e5389"
          alt="bank_logo"
        />
        <div class="footer_info_account_txt">1002-982-010204</div>
        <div class="footer_info_account_txt">예금주 : 이윤하(모두박스)</div>
      </div>
      <div class="col-xs-12 col-sm-4 footer_info fl">
        <a class="footer_logo" href="{% url 'core:home' %}">
          {% if logo_list %}
          {% for logo in logo_list %}
          <!--  -->
          {% if logo.title == "Footer LOGO - [PC VERSION]" %}
          <img class="footer_info_modubox_logo" src="{{logo.logo_file.url}}" alt="{{logo.title}}" />
          <p class="footer_info_modubox_txt">MODOBOX ALL Rights Reserved</p>
          {% endif %}
          <!--  -->

          {% endfor %}

          {% else %}
          <img class="footer_info_modubox_logo" src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FLOGO%2FWHITE_COLOR_LOGO.png?alt=media&token=bbd2f88f-f051-4ee0-b7cd-ce6dd714bd00" alt="logo" />
          <p class="footer_info_modubox_txt">MODOBOX ALL Rights Reserved</p>
          {% endif %}
        </a>
      </div>
    </div>
  </div>
</footer>

<div></div>
