{% load static %}

<header class="main_header">
    <section class="main_header_top">
      <div class="container">
        
        {% if user.is_authenticated %}
          <a href="#">마이페이지</a>
          <a href="{% url 'userapp:logout' %}">로그아웃</a>
        {% else %}
          <a href="{% url 'userapp:login' %}">로그인</a>
          <a href="{% url 'userapp:join' %}">회원가입</a>
        {% endif %}

        
      </div>
    </section>
    <section class="main_header_area">
      <div class="container pc_h">
        <div class="row">
          <div class="col logo">
            {% if logo_list %}
      
              {% for logo in logo_list %}
                {% if logo.title == "Main LOGO - [PC VERSION]" %}
                <a href="{% url 'core:home' %}">
                  <img width="160px" src="{{logo.logo_file.url}}" alt="{{logo.title}}" />
                </a>
                {% endif %}
            
                {% endfor %}
            {% else %}
              <a href="{% url 'core:home' %}">
                <img width="160px" src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FLOGO%2FBLACK_COLOR_LOGO.png?alt=media&token=2fcb46c8-4607-41a4-b246-7fd70b032cd7" alt="logo" />
              </a>
            {% endif %}

          </div>
          <div class="col menu">
            <ul class="menu_nav" id="menu_nav"></ul>
            <a class="orderButton" href="{% url 'questionapp:order' %}">상담 / 견적의뢰</a>
          </div>
       </div>
      </div>
    </section>
</header>





<header class="main_header_mobile">
  <a class="header_logo_mobile" href="{% url 'core:home' %}">MOLOGO</a>

  <span class="material-icons" onclick="javascript:toggleMobileHeader(true)"
    >menu</span
  >
</header>

<!-- MOBILE MENU -->
<div id="mobile_menuBox" class="mobile_menuBox">
  <div class="mobile_menuBox__top">
    <span class="material-icons" onclick="javascript:toggleMobileHeader(false)"
      >close</span
    >
  </div>
</div>

<script src="{% static 'js/makeHeader.js' %}"></script>
