{% load static %}

<header class="main_header">
  <a class="header_logo" href="{% url 'core:home' %}">

    
    {% if logo_list %}
    {% for logo in logo_list %}
    <!--  -->
    {% if logo.title == "Main LOGO - [PC VERSION]" %}
    <img width="120px" src="{{logo.logo_file.url}}" alt="{{logo.title}}" />
    {% endif %}
    <!--  -->

    {% endfor %}

    {% else %}
    <img width="120px" src="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FLOGO%2Fmodu_logo_w.png?alt=media&token=e22b6cb1-4e52-4710-ba61-6fd6813b5a7e" alt="logo" />
    {% endif %}
      

  
  </a>


  <ul class="menu_nav" id="menu_nav"></ul>

  <div class="menu_nav_right">

    
    {% if user.is_authenticated %}
    <a href="#">MYPAGE</a>
    <a href="{% url 'userapp:logout' %}">LOGOUT</a>

    {% else %}
    <a href="{% url 'userapp:login' %}">LOGIN</a>
    <a href="{% url 'userapp:join' %}">JOIN US</a>

    {% endif %}
      
    
    <a href="{% url 'questionapp:order' %}">상담 / 주문제작</a>
  </div>
</header>

<header class="main_header_mobile">
  <a class="header_logo_mobile" href="{% url 'core:home' %}">MOLOGO</a>

  <span class="material-icons" onclick="javascript:toggleMobileHeader(true)"
    >menu</span
  >
</header>

<!-- MOBILE MENU -->
<div id="mobile_menuBox" class="mobile_menuBox">
  <div class="mobile_menuBox__top">
    <span class="material-icons" onclick="javascript:toggleMobileHeader(false)"
      >close</span
    >
  </div>
</div>

<script src="{% static 'js/makeHeader.js' %}"></script>
