{% extends 'base.html' %}{% load bootstrap4 %} {% load static %}
<!--  -->

{% block content %}
<!--  -->
{% include 'snippets/sub_banner.html' with img_source="https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSUBBANNER%2FSUB_BANNER_%E1%84%80%E1%85%A9%E1%84%80%E1%85%A2%E1%86%A8%E1%84%8C%E1%85%B5%E1%84%8B%E1%85%AF%E1%86%AB.png?alt=media&token=1a58f20a-b898-455f-909e-d8c1ae744f2b" menu="고객지원" %}

<div class="container">
  <!-- questionapp/models.py -> QnaBoard Class -> TYPE CHOICE 튜플 확인 -->
  <section class="faq_type_select_area">
    <form action="{% url 'questionapp:faq' %}" method="GET">
      <input type="hidden" name="search" value="전체" />
      <button class="faq_type_button active">전체</button>
    </form>
    {% for type in type_list %}
    <form action="{% url 'questionapp:faq' %}" method="GET">
      <input type="hidden" name="search" value="{{type}}" />
      <button class="faq_type_button">{{type}}</button>
    </form>
    {% endfor %}
  </section>

  <!--  -->
  {% for faq in faq_list %}
  <div class="faq_box">
    <h5>
      <div class="faq_box_1">Q</div>
      <div>{{faq.title}}</div>
    </h5>
    <div class="faq_box_answer">
      <div class="faq_box_2">A</div>
      <div>{{faq.content | safe}}</div>
    </div>
  </div>

  {% endfor %}
</div>

<script src="{% static 'js/faq.js' %}"></script>
<!--  -->
{% endblock content %}
