.design_box {
  width: 100%;

  border-radius: 1.5rem;
  border: 0.5rem solid var(--theme);
  padding : 3.125rem 4rem;
  margin-bottom : 8rem;

  transition: 0.3s;
}

.design_box:hover {
    box-shadow: 2px 2px 5px rgb(153, 153, 153);
}

.design_box div {
  width: 100%;
}

.design_box .design_box_1,
.design_box .design_box_4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes designTitle {
  0% {
    margin-left: 2rem;
  }

  50% {
    margin-left: 0;
  }

  100% {
    margin-left: 2rem;
  }
}

.design_box .design_box_1 {
  font-size : 1.625rem;
  display: flex;
  flex-direction: row;
  animation: designTitle 2s infinite;
}

.design_box .design_box_1 span {
    font-weight: 700;
    color : var(--theme);
}

.design_box .design_box_2 {
  height: 24.7rem;
  padding-bottom : 1rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.design_box_2 .design_box_2_right {
  width: 50%;
  height: 100%;
  background-color: var(--sub-theme2);
  line-height: 2;
}

.design_box_2 .design_box_2_right .design_box_2_right_txt strong {
    color : var(--theme);
}

.design_box .design_box_2 div {
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.design_box .design_box_2 div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}


.design_box .design_box_3 {
    height: 16.875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


.design_box .design_box_3 div {
  width: calc(100% / 3 - (2.4rem / 3));
  margin-right: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: grey;
}

.design_box .design_box_3 div:last-child {
  margin-right: 0;
}

.design_box .design_box_3 div img {
    width : 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}


.design_box .design_box_2 div img:hover,
.design_box .design_box_3 div img:hover {
    transform: scale(1.05);
    opacity: 0.7;
}

.design_box .design_box_4 {
    height: 5rem;
    margin-top : 3.125rem;
}

.design_box .design_box_4 article {
    font-size : 1.4375rem;
}

.design_box .design_box_4 article strong {
    color : var(--theme);
}

.design_desc {
  margin: 6rem 0;
  font-size : 1rem;
  line-height: 2;
  animation: titleAnimation 1s forwards;
}

@keyframes titleAnimation {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.design_desc div span {
    font-weight: 700;
    color : var(--theme);
}

@media screen and (max-width: 1200px ) {
  .design_box_2 .design_box_2_right {
    font-size: 0.7rem;
  }

  .design_box .design_box_3 {
    height: auto;
  }

  .design_box .design_box_3 div img {
    object-fit: contain;
  }

  .design_box .design_box_3 div {
    width: 18rem;
  }
}

@media screen and (max-width: 1100px ) {
  .design_box .design_box_2 {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }

  .design_box .design_box_2 div {
    width: 100%;
  }

  .design_box_2 .design_box_2_right {
    width: 100%;
    padding: 2rem 1.5rem;
  }

  .design_box_2 .design_box_2_right .design_box_2_right_txt {
    font-size: 0.9rem;
  }

  .design_box .design_box_3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
  }

  .design_box .design_box_3 div {
    width: calc(100% / 3 - (4rem / 3));
    margin-right: 2rem;
  }

  .design_box .design_box_3 div:last-child {
    margin-right: 0;
  }

  .design_box .design_box_3 div img {
    object-fit: contain;
  }

  .design_box .design_box_4 article {
    font-size: 1.2rem;
}
}

@media screen and (max-width: 900px) {
  .design_box .design_box_1 {
    font-size: 1.5rem;
  }

  .design_box .design_box_1 span {
    display: contents;
  }

  .design_box .design_box_4 {
    margin-top: 3rem;
}

  .design_box .design_box_4 article {
    font-size: 1rem;
}
}

@media screen and (max-width: 500px) {
    .design_outBox {
      padding: 0 1rem;
    }

    .design_box {
      padding: 3rem 1rem;
    }
  
    .design_box_2 .design_box_2_right {
    font-size: 0.9rem;
    }
   
    .design_desc {
      font-size : 0.8rem !important;
      padding : 1rem;
    }

    .design_box_2 .design_box_2_right .design_box_2_right_txt {
      display: contents;
    }
 
    .design_box .design_box_2 div {
        width: 100%;
        font-size : 0.7rem;
    }

    .design_box .design_box_3 {
      width: 100%;
      flex-wrap: wrap;
    }

    .design_box .design_box_3 div {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1rem;
    }
  
  }
  