.faq .faq_title {
  font-size: 1.25rem;
  font-weight: 700;
}

.faq .faq_desc {
  font-size: 0.9375rem;
}

.faq .faq_desc > span {
  color: var(--theme);
}

.faq_type_select_area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.faq_type_select_area form .faq_type_button {
  width: 8rem;
  height: 2.4rem;
  margin: 0 2rem 0.5rem 0;

  border-radius: 0.5rem;
  background-color: var(--gray);
  color: var(--white);
  box-shadow: 1px 1px 4px var(--gray);

  transition: 0.4s;
}

.faq_type_select_area form .faq_type_button:hover {
  border: 1px solid var(--theme);
  color: var(--theme);
  background-color: var(--white);
}

.faq_type_select_area form .faq_type_button.active {
  background: linear-gradient(#fbac25, #fffde4);
  color: var(--white);
  border: none;
}

.faq_box {
  margin-bottom: 1rem;
}

.faq_box h5 {
  width: 100%;
  height: 5rem;
  background-color: var(--light-gray);
  border-radius: 1.25rem;
  color: var(--black);
  padding: 0 2rem;
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.faq_box h5 .faq_box_1 {
  margin-right: 2rem;
  font-weight: 900;
}

.faq_box .active {
  background-color: var(--theme);
  color: var(--white);
}

.faq_box h5:hover {
  background-color: var(--theme);
  color: var(--white);
}

/* .faq_box > div {
  display: none;
} */

.faq_box .faq_box_answer {
  padding: 1.5rem 2rem;
  min-height: 9rem;
  border-radius: 1.25rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 1.2rem;

  display: none;
  flex-direction: row;
}

.faq_box .faq_box_answer .faq_box_2 {
  margin-right: 2rem;
  width: auto;
  font-weight: 900;
}
