.find {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find .find_title {
  font-size: 2rem;
  font-weight: 700;
}

.find .find_desc > span {
  color: var(--theme);
}

.find .find_box {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.find .find_id, 
.find .find_pw {
  margin: 3rem 0 0;
  width: 46%;
  padding: 2rem;
  border-radius: 2.9375rem;
  box-shadow: rgb(0 0 0 / 24%) 0 0.1875rem 2rem; 
}

.find .find_id_confirm,
.find .find_pw_certification {
  margin: 3rem 0 0;
  width: 70%;
  padding: 2rem;
  border-radius: 2.9375rem;
  box-shadow: rgb(0 0 0 / 24%) 0 0.1875rem 2rem; 
}

.find .find_subTitle {
  font-size: 1.5625rem;
  margin: 0 0 2rem 0;
}

.find .find_input_wrapper {
  width: 100%;
  margin: 0 0 1.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.find .find_input_wrapper > label {
  font-size: 1rem;
  text-align: right;
}

.find .find_input_wrapper > input {
  width: 25rem;
  font-size: 0.9rem;
  border: none;
  outline: none;
  box-shadow: rgb(0 0 0 / 24%) 0 0.1875rem 0.5rem !important;
}

.find .find_button_group {
  display: flex;
  justify-content: center;
}

.find .find_button {
  width: 13.75rem;
  height: 2.5rem;
  margin: 2rem 0.5rem 1rem;
  background-color: #fbac25;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  box-shadow: rgb(0 0 0 / 24%) 0 0.1875rem 0.5rem;
}

.find .find_button_white {
  width: 13.75rem;
  height: 2.5rem;
  margin: 2rem 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid #fbac25;
  color: #333;
  border: none;
  border-radius: 0.5rem;
  box-shadow: rgb(0 0 0 / 24%) 0 0.1875rem 0.5rem;
}

.find .find_text {
  margin: 0 0 1rem;
  font-size: 1.2rem;
}

.find .find_text span {
  color: var(--theme);
}

.find .find_pw_certification form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find .find_pw_certification .inp_secretCode {
  width: 40%;
  outline: none;
}

.find .find_pw_certification .inp_text {
  margin: 0.8rem 0 0 0;
  font-size: 1rem;
  color: #4d4a4a;
}