.container {
  padding-left: 0;
  padding-right: 0;
}

.home_mainBanner {
  width: 100%;
  background-color: #999;
}

.home_section1 {
  width: 100%;
  height: 40rem;
  padding: 6.25rem 0;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.section1_imgBox {
  width: 41.25rem;
}

.section1_txtBox1 {
  margin-left: 1.875rem;
  font-size: 1.875rem;
  line-height: 1.2;
}

.section1_txtBox2.box1,
.box2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.section1_title {
  color: var(--theme);
}

.section1_title.txt {
  margin-bottom: 1.875rem;
}

.section1_content {
  font-size: 1rem;
}

.home_section2 {
  width: 100%;
  margin-bottom: 3.125rem;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.section2_Box {
  width: 32%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section2_Box .section2_Box_Img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section2_Box .section2_Box_Img:hover img {
  transform: scale(1.1);
  transition: 0.3s;
}

.section2_title {
  font-size: 1.5rem;
  color: var(--theme);
  margin-top: 1.75rem;
}

.section2_bar {
  width: 17.5rem;
  border: 0.0625rem solid var(--theme);
  margin: 1.25rem 0;
}

.home_section3 {
  height: 18.75rem;
}

.section3_Box {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section3_Box::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.section3_txtBox {
  position: absolute;
  color: var(--white);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section3_title {
  font-size: 2.125rem;
}

.section3_content {
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
}

.section3_btn {
  width: 10.625rem;
  height: 2.5rem;
  transition: 0.4s;

  color: var(--white);
  background-color: var(--theme);
  border-radius: 2.5rem;
}

.section3_btn:hover {
  color: var(--theme);
  background-color: var(--white);
}

.home_section4 {
  width: 100%;
  padding: 4.375rem 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.section4_title {
  font-size: 2.5rem;
  font-weight: 600;
}

.section4_txtBox1,
.section4_txtBox2,
.section4_txtBox3 {
  margin-bottom: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}


.section4_txtBox1 {
  margin-top: 3.75rem;
}

.section4_subtitle {
  font-size: 1.5625rem;
  color: var(--theme);
}

.section4_bar {
  width: 5.625rem;
  border: 0.0625rem solid var(--theme);
  margin-right: 0.625rem;
}

.section4_content {
  margin-left: 6.5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.section4_content.box {
  margin-bottom: 6.5rem;
}

.content_txt {
  color: #ff0000;
}

.section4_Box2 {
  width: 47.5rem;
  height: 657px;
}

.carousel-inner {
  height: 40rem;
}

.carousel-item {
  width: 100%;
  height: 40rem;
}

.carousel-item img {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 500px) {
  .home_section1 {
    padding: 4rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .section1_imgBox {
    width: 30rem;
  }

  .section1_txtBox1 {
    display: flex;
    flex-direction: row;
  }

  .section1_txtBox2.box1 {
    font-size: 1.5rem;
    width: 30%;
  }

  .section1_txtBox2.box2 {
    width: 70%;
  }

  .home_section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section2_Box {
    width: 25rem;
  }

  .section2_Box.box1 {
    margin: 2rem 0;
  }

  .section3_Box {
    height: 12rem;
  }

  .home_section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section4_Box1 {
    padding: 0 2rem;
  }

  .section4_content.box {
    margin-bottom: 2.5rem;
  }

  .section4_Box2 {
    width: 27rem;
    height: auto;
    margin: 2rem 0;
  }
}
