.order {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order .order_title {
  font-size: 2rem;
}

.order .order_mobileDesc {
  display: none;
}

.order .order_desc span {
  color: var(--theme);
}

/*  */

.order_subTitle {
  font-size: 1.4rem;
  margin-top: 6.3rem;
  border-bottom: 0.3rem solid var(--theme);
  position: relative;
}

.order_subTitle:before {
  content: "";
  position: absolute;
  bottom: -0.6rem;
  left: 0;
  width: 100%;
  height: 0.15rem;
  background-color: var(--theme);
}

.order_list:nth-child(3),
.order_list:nth-child(4) {
  width: 50%;
  flex-direction: row;
}

.orderCreate .form-group > label:nth-child(1) {
  width: 10rem;
}

.pro_type_box input[type="radio"] {
  width: 1.5rem !important;
}

.pro_type_box > div:not(:last-child) {
  margin-right: 2rem;
}

/* 문의내용 */

.order_textarea_box {
  margin-top: 2rem;
  padding: 0 3rem;

  align-items: flex-start !important;
  flex-direction: column !important;
}

.order_textarea_box .form-control {
  width: 100% !important;
  margin-top: 2rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 1.8rem;
  color: rgb(201, 201, 201);
  resize: none;
}

/* 첨부파일 */

.file-group {
  padding: 2rem 3rem;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.inputFile {
  height: 2.25rem;
  padding: 0.3rem 0.6rem;
 
}

.form-control-file {
  display: none;
}

.file-group > label {
  width: 10rem;
}

.file-group img {
  margin: 0 0 0.5rem 0.5rem;
}

.file-group .file-groupBox {
  width: 100%;
  font-size: 0.9rem;
  color: #626262;

  display: flex;
  flex-direction: column;
}

.file-group .file-groupBox input:nth-child(2) {
  margin: 1rem 0;
}

.order_lineBottom {
  margin-top: 5rem;
  border-bottom: 0.3rem solid var(--theme);
  position: relative;
}

.order_lineBottom:before {
  content: "";
  position: absolute;
  bottom: -0.6rem;
  left: 0;
  width: 100%;
  height: 0.15rem;
  background-color: var(--theme);
}

/* BOTTON */

.order_botton {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.order_botton a {
  width: 20rem;
  padding: 1rem 0;
  margin-top: 5rem;
  border: 1px solid var(--theme);
  background-color: transparent;
  border-radius: 0.9rem;
  color: var(--theme);
  box-shadow: 3px 5px 6px var(--light-gray2);

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;
}

.order_botton a:hover {
  color: var(--white);
}

.order_botton a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--theme);
  z-index: -1;
}

.order_botton a:hover:before {
  width: 100%;
  transition: all 1s;
}

@media screen and (max-width: 900px) {
  .order_botton a {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 700px) {
  .orderCreate {
    padding: 0 1rem;
  }

  .order .order_desc {
    display: none;
  }

  .order .order_mobileDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
  }

  .order .order_mobileDesc span {
    color: var(--theme);
  }

  .order_textarea_box .form-control {
    margin-top: 0;
  }

  .order_subTitle {
    margin-top: 4rem;
  }

  .pro_type_box > div:not(:last-child) {
    margin-right: 0.5rem;
  }

  .order_botton a {
    margin-top: 3rem;
  }
}
