.pp .pp_title {
    font-size: 1.25rem;
    line-height: 2.6;
    margin: 5.5rem 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pp .pp_title article strong {
  color: var(--theme);
}

.pp .pp_title h2 {
  margin: 5rem 0;
  font-size: 1.5rem;
  position: relative;
}

.pp_title h2 .light {
  width: 10rem;
  height: 1.5rem;
  background-color: rgba(229, 255, 0, 0.274);
  position: absolute;
  top: 1.2rem;
  right: -2rem;
}

.mobile_pp_title {
  display: none;
}

.product_list {
  padding: 1.5rem;
  border: 0.5rem solid var(--theme);
  border-radius: 1.2rem;
  transition: 0.5s;

  position: relative;
}

.product_list:hover {
  box-shadow: 2px 2px 5px #999;
}

.product_list .product_list_box {
  background-color: #fff9e3;
  box-shadow: 0px 3px 6px rgba(167, 152, 103, 0.3);
  padding: 1rem;
  border-radius: 0.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product_list .product_list_box:not(:last-child) {
  margin-bottom: 3rem;
}

.product_list_box .product_list_box_title {
  font-size: 1.6rem;
  color: var(--theme);
  margin: 1rem 0;
  padding: 1rem 0;
}

.product_list_box .product_list_box_content {
  font-size: 1rem;
  color: var(--sub-black);
  text-align: center;
}

.product_list_box .product_list_box_title_images {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0;
  padding: 1rem 0;
}

.plbti .plbti_imagebox {
  width: calc(100% / 4 - (12rem / 4));
  height: 15.25rem;
  margin: 1.5rem;
  overflow: hidden;
  border-radius: 0.225rem;
  transition: 0.6s;
}

.plbti .plbti_imagebox:hover {
  box-shadow: 0px 0px 10px #999;
}

.plbti .plbti_imagebox img {
  width: 100%;
  height: 100%;
  border-radius: 0.225rem;
  transition: 0.6s;
  cursor: pointer;
}

.plbti .plbti_imagebox img:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.triangle{
    width: 0;
    height: 0;
    border-bottom:1.5rem solid var(--theme);
    border-right: 1rem solid transparent;
    border-left: 1rem solid  transparent;
    
    position: absolute;
    content: "";
    left: 50%;
}

.product_list2_box{
    color: var(--white);
    background-color: var(--theme);
    border-radius: 2.4rem;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.54);
    margin-top: 4.5rem;
    padding: 2.625rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product_list2_box_title {
    font-size: 1.625rem;
    margin-bottom: 1.625rem;
}

.product_list2{
    margin: 3.375rem 0;
}

.product_list2_box2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.product_list2_box2 img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
  
.product_list2_box2 img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.product_list2_box2:not(:last-child){
    margin-bottom: 1.875rem;
}

.product_list2_box2_des{
    margin-left: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.product_list2_box2_subTitle{
    font-size: 1.125rem;
    margin-bottom: 1.125rem;
}

.product_list.Box{
    padding: 4rem;
}

.product_list_box.hang{
   
    padding: 2rem;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

.product_list3_box {
    width: 50%; 
  }


.product_list3_box img{
    width: 32rem;
}

.product_list3_box2{
    width: 50%;
    min-height: 30rem;
    padding: 1.5rem;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product_list3_img{
    width: 84.06%;
    margin-bottom: 1.875rem;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.product_list3_img img{
    width:calc(100% / 4 - (1.5rem / 4));
    margin-right: 0.5rem;
}

.product_list3_img img:last-child {
  margin-right: 0;
}

.product_list3_title .product_list3_box2_title{
    color: var(--theme);
    font-size: 1.75rem;
    margin-top: 1rem;
}

/* .product_list3_box2_content{
    margin-bottom: 5rem;
} */

.product_list3_box3{
    width: 25rem;
    height: 10rem;
    background-color: rgb(254, 218, 157);
    border-radius: 0 5rem;
    margin-left: 10.5rem;
    padding: 2rem 4rem;
    
    position: absolute;
    right: -2rem;
    bottom: 3rem;
}

.product_list3_box3::before{
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 0;
  bottom: -2rem;

  background-image: url("https://firebasestorage.googleapis.com/v0/b/storage-4leaf.appspot.com/o/MODUBOX%2FSCREEN%2F%E1%84%89%E1%85%A1%E1%86%B7%E1%84%80%E1%85%A1%E1%86%A8%E1%84%92%E1%85%A7%E1%86%BC.png?alt=media&token=cd3ed994-54ed-4fbd-87ca-8693e2a3e8f2");
  background-size: cover;
  background-repeat: no-repeat;
}



@media screen and (max-width: 1300px) {
  .plbti .plbti_imagebox {
    width: calc(100% / 4 - (8rem / 4));
    margin: 1rem;
  }

  .product_list3_box {
    width: 40%; 
  }

  .product_list3_box img{
    width: 25rem;
}

  .product_list3_box2 {
    width: 60%; 
  }


  .product_list3_img {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .plbti .plbti_imagebox {
    width: calc(100% / 2 - (16rem / 2));
    margin: 1rem 4rem;
  }

  .product_list2_box {
    padding: 2.625rem 0;
  }

  .product_list_box.hang {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .product_list3_box {
    width: 100%; 
    padding: 0 1rem;
  }

  .product_list3_box img{
    width: 20rem;
}

  .product_list3_box2 {
    width: 100%; 
  }

  .product_list3_title {
    width: 100%;
    min-height: 20rem;
  }
}

@media screen and (max-width: 900px) {
  .plbti .plbti_imagebox {
    width: calc(100% / 2 - (8rem / 2));
    margin: 1rem 2rem;
  }

  .product_list.Box {
    padding: 2rem;
    }

  .product_list2_box{
      padding: 2.625rem;
  }

  .product_list3_box img {
    width: 100%;
  }
}

@media screen and (max-width: 500px) { 
  .pp .pp_title {
    display: none;
  }

  .pp .mobile_pp_title {
    font-size: 1.25rem;
    line-height: 2;
    margin: 5rem 1rem 0;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .pp .mobile_pp_title article strong {
    color: var(--theme);
  }

  .pp .mobile_pp_title h2 {
    margin: 3rem 0 5rem;
    font-size: 1.5rem;
    position: relative;
  }

  .mobile_pp_title h2 .light {
    width: 10rem;
    height: 1.5rem;
    background-color: rgba(229, 255, 0, 0.274);
    position: absolute;
    top: 1.2rem;
    right: -2rem;
  }

  .pp .pp_title {
    margin: 2rem 0;
  }

  .product_list {
    width: 95%;
  }

  .product_list_box_title_images.plbti {
    display: flex;
    flex-direction: column;
  }

  .product_list2_box{
    padding: 2.625rem;
  }

  .product_list2_box2{
    display: flex;
    flex-direction: column;
  }
   
  .product_list2_box2_img{
    margin-bottom: 2rem;
  }

  .plbti .plbti_imagebox {
    width: 100%;
    height: 20rem;
    margin: 1rem 0;
  }

  .product_list.Box {
  padding: 1.5rem;
  }

  .product_list2_box2_des {
    margin-left: 0;
  }

  .product_list3_box, 
  .product_list3_box2 {
    padding: 0;
  }

  .product_list3_box2 {
    margin-top: 1rem;
  }

  .product_list3_box img {
    width: 100%;
  }
}


