
.sub_banner {
  width: 100%;
  height: 24rem;
}

.sub_banner img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.sub_banner .sub_banner_tab {
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid #E8E8E8;
}

.sub_banner .sub_banner_tab ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.sub_banner .sub_banner_tab ul li  {
  height: 100%;
  width : 10rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  position: relative;
}

.sub_banner .sub_banner_title,
.sub_banner .sub_banner_content {
  position: absolute;
  color: var(--white);
  text-shadow: 2px 2px 1px var(--black);
}

.sub_banner .sub_banner_title {
  top : 7rem;
  left : 10rem;
}

.sub_banner .sub_banner_content{
  top : 10rem;
  left : 10rem;
}

.sub_banner .sub_banner_tab ul li.active a{
  color : var(--theme);  
  font-weight: 700;
}

.sub_banner .sub_banner_tab ul li a {
  width : 100%;
  text-align: center;
  font-size: 0.9rem;
}

.sub_banner .sub_banner_tab ul li:not(:last-child) a{
  border-right: 1px solid #E8E8E8;
}



@keyframes hoverFullWidthAni {
 
  0% {
    width : 0%
  }

  100% {
    width : 100%;
  }
}

.sub_banner .sub_banner_tab ul li:before {
  content: "";
  position: absolute;
  left: 0;
  bottom : 0;
  width : 0%;
  border-bottom: 2px solid var(--theme);
}



.sub_banner .sub_banner_tab ul li:hover:before{
  animation: hoverFullWidthAni 0.4s forwards;
}


.sub_banner .sub_banner_tab ul li.active:before {
  animation: hoverFullWidthAni 0.4s forwards;
}