:root {
  --theme: #FBAC25;
  --sub-theme: #e67e22;
  --sub-theme2: #FFF9E3;
  --light-theme: #F8EFE3;
  --white: #fff;
  --black: #000;
  --light-black : #4D4D4D;
  --gray: #D3D3D3;
  --light-gray: #F8F8F8;
  --light-gray2: #eeeeee;
  
}
